<div class="row">
  <div class="col-sm-4">
    <h4>Product Form</h4>
    <div class="card bg-light">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Enter name"
              [(ngModel)]="newProduct.name" />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="3" placeholder="Enter description" id="description" name="description"
              [(ngModel)]="newProduct.description"></textarea>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="text" id="price" name="price" placeholder="Enter price"
              [(ngModel)]="newProduct.price" />
          </div>

          <div class="form-group form-check">
            <input type="checkbox" id="isAvailable" name="isAvailable" class="form-check-input" value="true"
              [(ngModel)]="newProduct.isAvailable" />
            <label for="isAvailable" class="form-check-label">Available?</label>
          </div>

          <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </form>
      </div>
    </div>
    <div class="alert alert-primary mt-3" *ngIf="showMessage">Product added successfully.</div>
  </div>
  <div class="col-sm-8">
    <h4>Products</h4>
    <div class="card bg-light mb-3" *ngFor="let product of products">
      <h4 class="card-header">{{ product.name | uppercase }}</h4>
      <div class="card-body">
        <p class="card-text" [ngStyle]="{ color: product.isAvailable ? 'blue' : 'red'}">{{ product.description }}</p>
        <p class="card-text"><strong>Price:</strong> <em>{{ product.price | currency : 'INR' }}</em></p>
        <p class="card-text"><strong>Available?</strong> <em class="badge"
            [ngClass]="product.isAvailable ? 'badge-success' : 'badge-danger'">{{ product.isAvailable ? 'Yes' : 'No' }}</em>
        </p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-warning btn-sm">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>